/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* ===== Theme Colors ===== */

/* ===== Dark Mode (Default) ===== */
:root{
    --bg: #0f172a;

    --section-bg: #0f172a;
    --card-bg: #1e293b;

    --text: #ffffff;
    --heading: #60a5fa;

    --navbar: rgba(2,11,36,.9);
    --nav-text: #ffffff;

    --button-bg: #2563eb;
    --button-text: #ffffff;

     --btn-bg: rgba(255,255,255,.15);
    --hero-text: #ffffff;
     --hero-glow: rgba(255,255,255,.04);

      --hero-bg:
        radial-gradient(circle at top left,#5fa8ff 0%,transparent 35%),
        radial-gradient(circle at bottom right,#1e88e5 0%,transparent 40%),
        radial-gradient(circle at center,#1565c0 0%,transparent 55%),
        linear-gradient(135deg,#081c3a 0%,#0d47a1 40%,#1976d2 100%);
}

/* ===== Light Mode ===== */
@media (prefers-color-scheme: light){
   :root{
    --bg: #0f172a;

    --section-bg: #0f172a;
    --card-bg: #1e293b;

    --text: #ffffff;
    --heading: #60a5fa;

    --navbar: rgba(2,11,36,.9);
    --nav-text: #ffffff;

    --button-bg: #2563eb;
    --button-text: #ffffff;

     --btn-bg: rgba(255,255,255,.15);
    --hero-text: #ffffff;
     --hero-glow: rgba(255,255,255,.04);

      --hero-bg:
        radial-gradient(circle at top left,#5fa8ff 0%,transparent 35%),
        radial-gradient(circle at bottom right,#1e88e5 0%,transparent 40%),
        radial-gradient(circle at center,#1565c0 0%,transparent 55%),
        linear-gradient(135deg,#081c3a 0%,#0d47a1 40%,#1976d2 100%);
}
/* ===== Navigation ===== */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8%;
    background: transparent;
    backdrop-filter: blur(12px);
    z-index: 9999;
    transition: background-color .4s ease,
                background .4s ease,
                color .4s ease,
                border-color .4s ease;
}

.logo{
    color: var(--nav-text);
    font-size:28px;
    font-weight:700;
}

.navbar ul{
    display:flex;
    justify-content:flex-end;
    align-items:center;

    list-style:none;
    gap:30px;

    margin:0;
    padding:0;
}

.navbar ul li{
    display:block;
}

.navbar ul li a{
    color: var(--nav-text);
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    transition:.3s;
}

.navbar ul li a:hover{
    color:#90caf9;
}
/* ===== Hero Section ===== */

.hero{
    animation: heroFade 1s ease forwards;
    position: relative;
    overflow: hidden;
    
    min-height:30vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 25px;
    text-align:center;
    padding:40px 8% 30px;
    color:white;
   
    background: transparent;
}

@keyframes heroFade{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes moveBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero-text h1,
.hero-text h2,
.hero-text h3,
.hero-text p,
.hero-buttons{
    opacity: 0;
    animation: slideUp 0.5s ease forwards;
}

.hero-text h1{
    animation-delay: 0.3s;
}

.hero-text h2{
    animation-delay: 0.4s;
}

.hero-text h3{
    animation-delay: 0.6s;
}

.hero-text p{
    animation-delay: 0.7s;
}

.hero-buttons{
    animation-delay: 0.9s;
}

@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text{
    position: relative;
    z-index: 2;
    max-width:800px;
    margin:0 auto;
}

.hero::before{
    content:"";
    position:absolute;
    width:700px;
    height:700px;
    background: var(--hero-glow);
    border-radius:50%;
    top:-250px;
    left:-250px;
    filter:blur(80px);
    pointer-events: none;
}

.hero::after{
    content:"";
    position:absolute;
    width:600px;
    height:600px;
    background: var(--hero-glow);
    border-radius:50%;
    bottom:-220px;
    right:-220px;
    filter:blur(80px);
    pointer-events: none;
}

.hero h1{
    font-size: clamp(1,5rem,4vw,2rem);
    font-weight:400;
    color: var(--hero-text);
}

.hero h2{
    font-size: clamp(2.5rem,7vw,4.5rem);
    font-weight:800;
    margin:10px 0;
    color: var(--hero-text);  
}

.typing{
    display: inline-block;
    width: 0;
    white-space: nowrap;
    overflow: hidden;

    animation:
        typing 0.8s steps(15, end) forwards;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.hero h3{
    font-size:24px;
    font-weight:400;
    letter-spacing:0.5px;
    color: var(--hero-text);
    margin-bottom:20px;
}

.hero p{
    font-size: 16px;
    line-height: 1.8;
    max-width: 850px;
    margin: 0 auto 40px;
    color: var(--hero-text);
    font-style: italic;
    font-weight: 400;
}

.hero-buttons{
    position: relative;
    z-index: 5;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.btn{
    display:inline-block;
    background: var(--btn-bg);
    color: var(--button-text);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    font-weight:600;
    transition: all .2s ease;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 25px rgba(0,0,0,.25);
}

.btn:active{
    transform: scale(0.92);
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.hero-image img{
    width:360px;
    height:360px;
    border-radius:50%;
    object-fit:cover;
    border:8px solid var(--card-bg);
    box-shadow:0 15px 40px rgba(0,0,0,.3);
}

/* ===== Container ===== */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}
/* =======================
   About Section
======================= */

.about{
    padding:100px 0;
    background: transparent;
    transition: background-color .4s ease,
                background .4s ease,
                color .4s ease,
                border-color .4s ease;
}

.about .container{
    background: transparent;
    padding:50px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

.about h2{
    text-align:center;
    color: var(--heading);
    font-size:40px;
    margin-bottom:25px;
}

.about p{
    text-align:center;
    font-size:18px;
    color: var(--text);
    max-width:850px;
    margin:auto;
    line-height:1.8;
    margin-bottom:0;
}

.skills{
    padding:100px 0;
    background: transparent;
    
    transition: background-color .4s ease,
                background .4s ease,
                color .4s ease,
                border-color .4s ease;
}

.skill-card.show {
    opacity: 1;
    transform: translateY(25px);
}

.skills h2{
    text-align:center;
    font-size:40px;
    color: var(--heading);
    margin-bottom:60px;
}

.skill-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.skill-card{
    background: transparent;
    border-radius:20px;
    padding:35px;
    text-align:center;
    transition:0.35s ease;
    box-shadow:
        0 8px 20px rgba(0,0,0,0.12),
        0 18px 45px rgba(0,0,0,0.18);
    transition: 
        transform .35s ease,
        box-shadow .35s ease,
        background-color .4s ease,
        background .4s ease,
        color .4s ease,
        border-color .4s ease;
}

.skill-card:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 50px rgba(0,0,0,0.25);
}

.skill-card i{
    font-size:60px;
    color: var(--button-bg);
    margin-bottom:20px;
}

.skill-card h3{
    font-size:22px;
    color: var(--text);
}

/* ===== SECTION TITLES ===== */
.section-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: var(--heading);
    margin-bottom: 60px;
    letter-spacing: 1px;
}

/* ===== CERTIFICATIONS ===== */
.certification{
    padding:100px 0;
    background: transparent;
}

.certification-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    max-width: 1200px;
    margin: 0 auto;
}

.certification-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: transparent;
    padding:35px;
    border-radius:20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.40);
}

.certification-card h3{
    color: var(--heading);
}

.certification-card p{
    color: var(--text);
}

.certification-card a{
    display:inline-block;
    margin-top: auto;
    align-self: flex-start;
    padding:10px 20px;
    background: var(--button-bg);
    color: var(--button-text);
    text-decoration:none;
    border-radius:8px;
}

.certification-card img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.projects{
    margin: 0;
    padding:100px 0;
    background: transparent;
    transition: background-color .4s ease,
                background .4s ease,
                color .4s ease;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: transparent;
    padding:35px;
    border-radius:20px;
    box-shadow: 
        0 8px 20px rgba(0,0,0,0.40),
        0 18px 45px rgba(0,0,0,0.18);
    transition: background-color .4s ease,
                background .4s ease,
                color .4s ease,
                border-color .4s ease,
        transform .35s ease,
        box-shadow .35s ease;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 50px rgba(0,0,0,0.25);
}

.project-card h3{
    color: var(--heading);
    margin-bottom:15px;
}

.project-card p{
    color: var(--text);
    margin-bottom:20px;
}

.project-card a{
    margin-top: auto;
    align-self: flex-start;
    display:inline-block;
    padding:10px 20px;
    background: var(--button-bg);
    color: var(--button-text);
    text-decoration:none;
    border-radius:8px;
}

/* ===== FOOTER ===== */
.footer{
    width: 100%;
    padding: 25px 0;
    background: transparent;
    border-top: 1px solid rgba(255,255,255,0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer p{
    color: var(--text);
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    .hero{
        padding: 120px 20px 40px;
    }

    .hero h1{
        font-size: 2rem;
    }

    .hero h2{
        font-size: 3rem;
    }

    .hero h3{
        font-size: 1.3rem;
    }

    .hero p{
        font-size: 1rem;
    }

    .hero-buttons{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .btn{
        width: 90%;
        text-align: center;
    }

    .hero-image img{
        width: 220px;
        height: 220px;
    }
}
